<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: imports-css(title='Representantes')}">
        <title>title</title>
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='representantes')}"/>
        <div class="container" style="width: 60%; margin-top: 20px">
            <div class="card-header">
                <h4>Cadastro de Representantes
                    <a class="btn btn-primary float-right" th:href="@{~/representantes}" role="button">voltar</a>
                </h4>
            </div>
            <div th:replace="~{fragmentos::mensagens}">
                
            </div>
         
            <form th:object="${representante}" th:action="@{~/representantes/representante/{id}(id=${representante.id})}" method="post" class="card-body">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="nome">Nome:</label>
                        <input th:field="*{nome}" type="text" class="form-control" placeholder="Nome" required="required" maxlength="30"/>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="senha">Senha:</label>
                        <input th:field="*{senha}" pattern="^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*#?&])[A-Za-z\\d@$!%*#?&]{8,}$" maxlength="100" type="text" class="form-control" placeholder="Senha" required="required"/>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="email">E-mail:</label>
                        <input th:field="*{email}" pattern="[\\w\\S]+[@]+[\\w\\S]+[.]+[\\w\\S]+" maxlength="55" type="text" class="form-control" placeholder="E-mail" required="required"/>
                    </div>
                    
                </div>
                 
            </form>
            
        </div>
        
        <div th:replace="~{fragmentos :: imports-js}"/>
    </body>
</html>
